body{
    background-image: url(../assets/doodles.png);
}

.red{
    background-color: red;
}

.white{
    background-color: white;
}
a,h1,h2,h3{
    color: teal;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
 /* img{
    border-color: teal;
    border-width: 1px;
    border-style: groove;

} */