body{
    background-image: url(../assets/doodles.png);
}

.red{
    background-color: red;
}

.white{
    background-color: white;
}
.portfolioAtag{
    color: teal;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
}
a,h1,h2,h3,h4{
    color: teal;
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

    p > a {
        color: teal;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }