



body{
    background-image: url(../assets/doodles.png);
}

.red{
    background-color: red;
}

.white{
    background-color: white;  
}
.boxShadow {
    box-shadow: .02em .02em 1.5em .1em;
}
a,h1,h2,h3,h4{
    color: teal;
    font-family: 'Fontdiner Swanky', cursive;
}

p{
    font-family: 'David Libre', serif;
    font-size: 1.5em;
}

    p > a {
        color: teal;
        font-family: 'David Libre', serif;
        font-size: .75em;
    }